{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FilmYou - {% block title %}{% endblock %}</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-tagsinput.css' %}" rel="stylesheet">
    <link href="{% static 'css/theme.css' %}" rel="stylesheet">

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-tagsinput.js' %}"></script>

    {% include 'autocomplete_light/static.html' %}

    {% block head %}
    {% endblock %}
</head>

<body>
<div class="wrapper">
    <div class="box">
        <!-- top nav -->
        <div class="navbar navbar-fixed-top top-navbar">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="sr-only">Toggle</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="{% url 'home' %}" class="navbar-brand logo">
                        <img src="{% static '/img/filmyou_mini.png' %}" alt="FilmYou"/>
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="glyphicon glyphicon-user"></i>
                                    {{ user.username }}
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="first">
                                        <a href="{% url 'userena_profile_detail' user.username %}">
                                            {% trans 'View profile' %}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'userena_profile_edit' user.username %}">
                                            {% trans "Edit profile" %}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'userena_password_change' user.username %}">
                                            {% trans "Change password" %}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'userena_email_change' user.username %}">
                                            {% trans "Change email" %}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'userena_signout' %}">
                                            {% trans 'Log out' %}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        {% else %}
                            <li>
                                <a href="#login-modal" role="button" data-toggle="modal">
                                    <i class="glyphicon glyphicon-plus"></i> {% trans 'Sign in' %}
                                </a>
                            </li>
                            <li>
                                <a href="#register-modal" role="button" data-toggle="modal">
                                    <i class="glyphicon glyphicon-plus"></i> {% trans 'Sign up' %}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                    <form class="navbar-form" action="{% url 'films:search' %}" method="get">
                        <div class="form-group" style="display:inline;">
                            <div class="input-group">
                                <select multiple class="form-control" name="query"
                                        data-role="tagsinput" id="searchInput"
                                        placeholder="{% trans 'Search' %}" type="text">
                                </select>

                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit" id="searchButton">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /top nav -->
        <div id="content" class="row row-offcanvas row-offcanvas-left">
            {% block main %}
            {% endblock %}
        </div>
        <!-- /row -->
    </div>
    <!-- /box -->
</div>
<!-- /wrapper -->

{% if not user.is_authenticated %}
    <!-- modal-->
    <div id="login-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h1 class="text-center">{% trans 'Login' %}</h1>
                </div>
                <div class="modal-body">
                    <form class="form col-md-12 center-block" method="post"
                          action="{% url 'userena_signin' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control input-lg" name="identification"
                                   placeholder="{% trans 'Username or email' %}">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control input-lg" name="password"
                                   placeholder="{% trans 'Password' %}">
                        </div>
                        <div class="form-group">
                            <input class="btn btn-primary btn-lg btn-block" type="submit"
                                   aria-hidden="true" value="{% trans 'Submit' %}"/>
                        </div>
                    </form>
                    <a href="{% url 'userena_password_reset' %}">
                        {% trans 'Forgot your password? Recover it' %}
                    </a>
                </div>
                <div class="modal-footer">
                    <div class="col-md-12">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /login-modal -->

    <div id="register-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h1 class="text-center">{% trans 'Register' %}</h1>
                </div>
                <div class="modal-body">
                    <form class="form col-md-12 center-block" method="post"
                          action="{% url 'userena_signup' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control input-lg" name="username"
                                   placeholder="{% trans 'User' %}">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control input-lg" name="email"
                                   placeholder="{% trans 'Email' %}">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control input-lg" name="password1"
                                   placeholder="{% trans 'Password' %}">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control input-lg" name="password2"
                                   placeholder="{% trans 'Repeat your password' %}">
                        </div>
                        <div class="form-group">
                            <input class="btn btn-primary btn-lg btn-block" type="submit"
                                   aria-hidden="true" value="{% trans 'Submit' %}"/>
                        </div>
                    </form>
                    <a href="{% url 'userena_signin' %}">
                        {% trans 'Already have an account? Sign in!' %}
                    </a>
                </div>
                <div class="modal-footer">
                    <div class="col-md-12">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /login-modal -->
{% endif %}


{% block script %}
    <script type='text/javascript'>
        $('#searchButton').click(function () {
            var e = jQuery.Event("keydown");
            e.which = 13
            e.keyCode = 13;
            $('#searchInput2').trigger(e);
        });
    </script>
{% endblock %}

</body>

</html>
