{% extends "base.html" %}
{% load i18n %}

{% block head %}
<style type="text/css">
    /* Responsive: Portrait tablets and up */
    @media screen and (min-width: 768px) {
      /* Let the jumbotron breathe */
      .jumbotron {
        margin-top: 20px;
      }
      /* Remove padding from wrapping element since we kick in the grid classes here */
      .body-content {
        padding: 0;
      }
    }
</style>

{% endblock %}

{% block content %}
    <!-- Jumbotron -->
    <div class="jumbotron">
        <h1>{{ title }}</h1>

        <p class="lead">FilmYou is just awesome.</p>
    </div>
    
{% endblock %}
