{% extends "base.html" %}
{% load i18n %}

{% block head %}
<style type="text/css">
    @media screen and (max-width: 768px) {
        .row-offcanvas {
            position: relative;
            -webkit-transition: all 0.25s ease-out;
            -moz-transition: all 0.25s ease-out;
            transition: all 0.25s ease-out;
        }
        .row-offcanvas-right
        .sidebar-offcanvas {
            right: -50%; /* 6 columns */
        }
        .row-offcanvas-left
        .sidebar-offcanvas {
            left: -50%; /* 6 columns */
        }
        .row-offcanvas-right.active {
            right: 50%; /* 6 columns */
        }
        .row-offcanvas-left.active {
            left: 50%; /* 6 columns */
        }
        .sidebar-offcanvas {
            position: absolute;
            top: 0;
            width: 50%; /* 6 columns */
        }
    }
</style>

{% endblock %}

{% block content %}
    <div class="row row-offcanvas row-offcanvas-right">

        <!-- sidebar -->
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            <div class="well sidebar-nav">
                <ul class="nav">
                    <li>Sidebar</li>
                    <li class="active"><a href="#">What's new</a></li>
                    <li><a href="#">Recommendations</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div><!--/.well -->
        </div><!--/sidebar-->

        <div class="col-xs-12 col-sm-9">
            <p class="pull-right visible-xs">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas">{% trans 'Toggle nav' %}</button>
            </p>
            <div class="row">
                {% block inner %}
                {% endblock %}
            </div><!-- /.row -->
        </div><!-- /.col -->

    </div><!-- /.row -->
{% endblock %}

{% block script %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function() {
        $('[data-toggle=offcanvas]').click(function() {
            $('.row-offcanvas').toggleClass('active');
        });
    });
</script>
{% endblock %}
