{% extends "base.html" %}
{% load i18n %}
{% load umessages_tags %}
{% load filmyou_tags %}


{% block main %}
    <!-- sidebar -->
    <div class="column col-lg-2 col-sm-3 col-xs-2 sidebar-offcanvas" id="sidebar">

        <ul class="nav">
            <li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i
                    class="glyphicon glyphicon-chevron-right"></i></a></li>
        </ul>

        <ul class="nav hidden-xs" id="lg-menu">
            <li class="{% navactive request 'home' %}">
                <a href="{% url 'home' %}">
                    <i class="glyphicon glyphicon-home"></i> {% trans 'Home' %}
                </a>
            </li>
            <li class="{% navactive request 'films:recommendations' %}">
                <a href="{% url 'films:recommendations' %}">
                    <i class="glyphicon glyphicon-film"></i> {% trans 'Suggestions' %}
                </a>
            </li>
            <li class="{% navactive request 'films:ratings' %}">
                <a href="{% url 'films:ratings' %}">
                    <i class="glyphicon glyphicon-list-alt"></i> {% trans 'My ratings' %}
                </a>
            </li>
            <li class="{% navactive request 'reviews:list' %}">
                <a href="{% url 'reviews:list' %}">
                    <i class="glyphicon glyphicon-list"></i> {% trans 'My reviews' %}
                </a>
            </li>
            <li class="{% navactive request 'films:advanced_search' %}">
                <a href="{% url 'films:advanced_search' %}">
                    <i class="glyphicon glyphicon-search"></i> {% trans 'Advanced Search' %}
                </a>
            </li>
            {% if user.is_authenticated %}
                <li class="{% navactive request 'userena_profile_detail' user.username %}">
                    <a href="{% url 'userena_profile_detail' user.username %}">
                        <i class="glyphicon glyphicon-user"></i> {% trans 'My profile' %}
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'userena_signup' %}">
                        <i class="glyphicon glyphicon-user"></i> {% trans 'My profile' %}
                    </a>
                </li>
            {% endif %}
            <li class="{% navactive request 'userena_umessages_list' %}">
                <a href="{% url 'userena_umessages_list' %}">
                    <i class="glyphicon glyphicon-envelope"></i> {% trans 'My messages' %}
                    {% if user.is_authenticated %}
                        {% get_unread_message_count_for user as unread_messages %}
                    {% endif %}
                    <span class="badge">{{ unread_messages }}</span>
                </a>
            </li>
        </ul>

        <!-- tiny only nav-->
        <ul class="nav visible-xs" id="xs-menu">
            <li class="{% navactive request 'home' %}">
                <a href="{% url 'home' %}" class="text-center">
                    <i class="glyphicon glyphicon-home"></i>
                </a>
            </li>
            <li class="{% navactive request 'films:recommendations' %}">
                <a href="{% url 'films:recommendations' %}" class="text-center">
                    <i class="glyphicon glyphicon-film"></i>
                </a>
            </li>
            <li class="{% navactive request 'films:ratings' %}">
                <a href="{% url 'films:ratings' %}" class="text-center">
                    <i class="glyphicon glyphicon-list-alt"></i>
                </a>
            </li>
            <li class="{% navactive request 'reviews:list' %}">
                <a href="{% url 'reviews:list' %}" class="text-center">
                    <i class="glyphicon glyphicon-list"></i>
                </a>
            </li>
            <li class="{% navactive request 'films:advanced_search' %}">
                <a href="{% url 'films:advanced_search' %}" class="text-center">
                    <i class="glyphicon glyphicon-search"></i>
                </a>
            </li>
            {% if user.is_authenticated %}
                <li class="{% navactive request 'userena_profile_detail' user.username %}">
                    <a href="{% url 'userena_profile_detail' user.username %}"
                       class="text-center">
                        <i class="glyphicon glyphicon-user"></i>
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'userena_signup' %}" class="text-center">
                        <i class="glyphicon glyphicon-user"></i>
                    </a>
                </li>
            {% endif %}
            <li class="{% navactive request 'userena_umessages_list' %}">
                <a href="{% url 'userena_umessages_list' %}" class="text-center">
                    <i class="glyphicon glyphicon-envelope"></i>
                </a>
            </li>
        </ul>
    </div>
    <!-- /sidebar -->

    <!-- main column -->
    <div class="column col-lg-10 col-sm-9 col-xs-10" id="main">
        <div class="container-fluid">
            {% block content_title %}
            {% endblock %}
            <br/>
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <!-- /main column -->

{% endblock %}

{% block script %}
    {{ block.super }}
    <script type='text/javascript'>
        $(document).ready(function () {
            $('[data-toggle=offcanvas]').click(function () {
                $(this).toggleClass('visible-xs text-center');
                $(this).find('i').toggleClass('glyphicon-chevron-right glyphicon-chevron-left');
                $('.row-offcanvas').toggleClass('active');
                $('#lg-menu').toggleClass('hidden-xs').toggleClass('visible-xs');
                $('#xs-menu').toggleClass('visible-xs').toggleClass('hidden-xs');
            });
        });
    </script>
{% endblock %}
