{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="col-xs-12">
	<h1>{% trans 'Change password' %}</h1>
	<hr />
    <form action="." method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group {% if field.errors %} has-error{% endif %}">
                <label class="control-label" for="id_{{ field.html_name }}">{{ field.label }}</label>
                <input id="id_{{ field.html_name }}" type="password" name="{{ field.html_name }}" class="form-control" >
                <span class="help-block">{{ field.errors.as_text }}</span>
            </div>
        {% endfor %}
        <input type="hidden" name="next" value="{{ next }}" />
        <input type="submit" value="{% trans 'Submit' %}" class="btn btn-primary" />
        <input type="reset" value="{% trans 'Cancel' %}" class="btn btn-danger" />
</div>
{% endblock %}
