{% extends "base.html" %}
{% load i18n %}

{% block content %}
<form action="." method="post" id="login-form">
    {% csrf_token %}
        <legend>{% trans 'Register' %}</legend>
        {% for field in form %}
            <div class="form-group {% if field.errors %} has-error{% endif %}">
                <label class="control-label" for="id_{{ field.html_name }}">{{ field.label }}</label>
                <input id="id_{{ field.html_name }}" type="{% if field.html_name|slice:":8" == 'password' %}password{% else %}text{% endif %}" name="{{ field.html_name }}" class="form-control" >
                <span class="help-block">{{ field.errors.as_text }}</span>
            </div>
        {% endfor %}
    <input type="hidden" name="next" value="{{ next }}" />
    <input type="submit" value="{% trans 'Submit' %}" class="btn btn-primary" />
    <input type="reset" value="{% trans 'Cancel' %}" class="btn btn-danger" />
</form>

{% endblock %}
