html, body {
    color: #222;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.carousel-caption {
    top: 10%;
}

.nav {
    font-size: 16px;
}

.column {
    height: 100%;
    overflow: auto;
    padding: 20px;
}

.wrapper, .row {
    height: 100%;
    margin-left: 0;
    margin-right: 0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

#content {
    padding-top: 50px;
}

.box {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    background-color: #444;
}

.panel textarea, textarea.form-control {
    resize: none;
}

a.no-link {
    color: #222;
}

a.no-link:hover, a.no-link:focus, a.no-link:hover:visited {
    color: #222;
    text-decoration: none;
}

.top-navbar {
    background-color: #bbb;
    box-shadow: 0 0 1em #999;
}

.top-navbar li > a, .navbar-toggle {
    color: #222;
}

.top-navbar .dropdown-menu li > a {
    padding-left: 30px;
}

.top-navbar li > a:hover, .top-navbar li > a:focus, .top-navbar .open, .top-navbar .open > a, .top-navbar .open > a:hover, .top-navbar .open > a:focus {
    background-color: #222;
    color: #fff;
}

#main {
    background-color: #dedede;
    padding: 0;
}

#sidebar {
    padding: 5px 5px 5px 5px;
    height: 100%;
}

#sidebar, #sidebar a, #sidebar-footer a {
    color: #fff;
    background-color: transparent;
    text-shadow: 0 0 1em #000;
}

#sidebar .nav li > a:hover {
    background-color: #222;
}

.logo {
    padding: 3px;
    margin-right: 2px;
    margin-left: 15px;
}

.navbar-toggle, .close {
    outline: 0;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.panel {
    box-shadow: 0 0 1em #bbb;
}

.big-poster {
    box-shadow: 0 0 1em #bbb;
    margin: 1em;
}

.label-default {
    background-color: #dddddd;
}

@media (max-width: 768px) {
    .top-navbar {
        padding-right: 0;
    }
}

/* off canvas sidebar */
@media screen and (max-width: 768px) {
    .row-offcanvas {
        position: relative;
        transition: all 0.25s ease-out;
    }

    .row-offcanvas-left.active {
        left: 40%;
    }

    .row-offcanvas-left.active .sidebar-offcanvas {
        left: -40%;
        position: absolute;
        top: 50px;
        width: 40%;
        margin-left: 5px;
    }

    #sidebar, #sidebar a, #sidebar-footer a {
        padding-left: 5px;
    }

    .big-poster {
        margin: 0;
    }

    ul.dropdown-menu > li > a {
        color: #fff;
    }

    ul.dropdown-menu > li > a:hover {
        background-color: #fff;
        color: #000;
    }

}
