{% load i18n %}
{% load staticfiles %}


<div class="panel-film col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="panel panel-default">
        <div class="panel-thumbnail">
            <a href="{% url 'films:details' review.film.film_id %}">
                <img class="img-responsive" src="{{ MEDIA_URL }}{{ review.film.get_poster }}"
                     alt="{{ film.title }}"/>
            </a>
        </div>
        <div class="panel-body">
            <p class="lead">
                <a href="{% url 'films:details' review.film.film_id %}">{{ review.film.title }}</a>
            </p>

            <h1>
                <span id="{{ prefix }}star{{ review.review_id }}"></span>
                <span class="pull-right">{{ review.film.score|floatformat:1 }}</span>
            </h1>

            <p class="text-justify">
                {{ review.text }}
            </p>

            <p class="text-right">
                <small>{{ review.created|date:'DATETIME_FORMAT' }}</small>
            </p>
            <br>

            <form method="POST" role="form" class="pull-right"
                  action="{% url 'reviews:remove' review.review_id %}">
                {% csrf_token %}
                <button type="submit" value="delete"
                        class="btn btn-danger btn-xs">
                    {% trans 'Remove' %} <span
                        class="glyphicon glyphicon-remove"></span>
                </button>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript">
    $("#{{ prefix }}star{{ review.review_id }}").raty({
        score: {{ review.film.preference|default:"0" }},
        starOff: "{% static 'img/star-off.png' %}",
        starOn: "{% static 'img/star-on.png' %}",
        click: function (score, evt) {
            $.ajax({
                url: "{% url 'films:rate' %}",
                type: "POST",
                data: {
                    film: "{{ review.film.film_id }}",
                    score: score,
                    current: window.location.pathname + window.location.search
                },
                success: function (data) {
                    if (data) {
                        window.location.href = data;
                    }
                }
            });
        }
    });
</script>
