{% extends "page.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block title %}{% trans 'Advanced search' %}{% endblock %}

{% block content_title %}
    <h1 class="text-center">{% trans 'Advanced search' %}</h1>
{% endblock %}

{% block content %}

    <div class="col-xs-0 col-sm-1 col-md-2 col-lg-3"></div>
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
        <p>{% trans 'You can search films by any filter you want.' %}</p>
        <br/>

        <div class="row">
            <form class="form-horizontal" action="{% url 'films:search' %}"
                  method="get" role="search">
                {{ form|crispy }}
                <input type="submit" class="btn btn-primary btn-block"
                       value="{% trans 'Search' %}"/>
                <input type="reset" class="btn btn-danger btn-block" value="{% trans 'Cancel' %}"/>
            </form>
            <br/>
        </div>
    </div>

{% endblock %}
