{% load i18n %}
{% load staticfiles %}


<div class="panel-film col-xs-12 col-sm-6 col-md-4 col-lg-3 col">
    <div class="panel panel-default">
        <div class="panel-thumbnail">
            <a href="{% url 'films:details' film.film_id %}">
                <img class="img-responsive" src="{{ MEDIA_URL }}{{ film.get_poster }}"
                     alt="{{ film.title }}"/>
            </a>
        </div>
        <div class="panel-body">
            <p class="lead">
                <a href="{% url 'films:details' film.film_id %}">{{ film.title }}</a>
            </p>

            <h1>
                <span id="{{ prefix }}star{{ film.film_id }}"></span>
                <span class="pull-right">{{ film.score|floatformat:1 }}</span>
            </h1>
            <dl>
                <dt>{% trans 'Year' %}</dt>
                <dd>{{ film.year }}</dd>
                <dt>{% trans 'Genre' %}</dt>
                <dd>{{ film.genres.all|join:", "|default:"--" }}</dd>
                <dt>{% trans 'Director' %}</dt>
                <dd>{{ film.directors.all|join:", "|default:"--" }}</dd>
                <dt class="hidden-xs">{% trans 'Cast' %}</dt>
                <dd class="hidden-xs">{{ film.casts.all|join:", "|default:"--" }}</dd>
            </dl>

        </div>
    </div>
</div>

<script type="text/javascript">
    $("#{{ prefix }}star{{ film.film_id }}").raty({
        score: {{ film.preference|default:"0" }},
        starOff: "{% static 'img/star-off.png' %}",
        starOn: "{% static 'img/star-on.png' %}",
        click: function (score, evt) {
            $.ajax({
                url: "{% url 'films:rate' %}",
                type: "POST",
                data: {
                    film: "{{ film.film_id }}",
                    score: score,
                    current: window.location.pathname + window.location.search
                },
                success: function (data) {
                    if (data) {
                        window.location.href = data;
                    }
                }
            });
        }
    });
</script>
