{% extends "page.html" %}
{% load i18n %}
{% load endless %}
{% load staticfiles %}


{% block head %}
    {{ block.super }}
    <script src="{% static 'js/jquery.raty.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-right" id="star{{ film.film_id }}"></div>
            <h3>{{ film.title }} ({{ film.score|floatformat:1 }})</h3>
        </div>
        <div class="panel-body">
            <img src="{{ MEDIA_URL }}{{ film.get_poster }}"
                 class="big-poster img-responsive pull-right"
                 alt="{{ film.title }}"/>

            <div class="container-fluid">
                <dl>
                    <dt>{% trans 'IMDB ID' %}</dt>
                    <dd>{{ film.imdb_id }}</dd>
                    {% if film.year %}
                        <dt>{% trans 'Year' %}</dt>
                        <dd>{{ film.year }}</dd>
                    {% endif %}
                    {% if film.genres %}
                        <dt>{% trans 'Genre' %}</dt>
                        <dd>{{ film.genres.all|join:", " }}</dd>
                    {% endif %}
                    {% if film.runtime %}
                        <dt>{% trans 'Runtime' %}</dt>
                        <dd>{{ film.runtime }} {% trans 'minutes' %}</dd>
                    {% endif %}
                    {% if film.rating %}
                        <dt>{% trans 'Rating' %}</dt>
                        <dd>{{ film.rating }}</dd>
                    {% endif %}
                    {% if film.directors.all %}
                        <dt>{% trans 'Director' %}</dt>
                        <dd>{{ film.directors.all|join:", " }}</dd>
                    {% endif %}
                    {% if film.writers.all %}
                        <dt>{% trans 'Writer' %}</dt>
                        <dd>{{ film.writers.all|join:", " }}</dd>
                    {% endif %}
                    {% if film.casts.all %}
                        <dt>{% trans 'Cast' %}</dt>
                        <dd>{{ film.casts.all|join:", " }}</dd>
                    {% endif %}
                    {% if film.countries.all %}
                        <dt>{% trans 'Country' %}</dt>
                        <dd>{{ film.countries.all|join:", " }}</dd>
                    {% endif %}
                    {% if film.languages.all %}
                        <dt>{% trans 'Language' %}</dt>
                        <dd>{{ film.languages.all|join:", " }}</dd>
                    {% endif %}
                    {% if film.released %}
                        <dt>{% trans 'Released' %}</dt>
                        <dd>{{ film.released|date|default:"--" }}</dd>
                    {% endif %}
                    {% if film.fullplot %}
                        <dt>{% trans 'Plot' %}</dt>
                        <dd class="justify">{{ film.fullplot|default:"--" }}</dd>
                    {% endif %}
                </dl>
            </div>

            <div class="clearfix"></div>
            <hr>
            <div class="container-fluid">
                {% with film.review_set.all as reviews %}
                    {% paginate reviews %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>{% trans 'Reviews' %}</h4>
                        </div>
                        <div class="panel-body">

                            {% for review in reviews %}
                                <p class="text-justify">
                                    {{ review.text }}
                                </p>
                                <p class="text-right">
                                    <small>
                                        {% trans 'By' %}
                                        <strong>{{ review.author.user.username }}</strong>
                                        ({{ review.created|date:'DATETIME_FORMAT' }})
                                    </small>
                                    {% if review.author == request.user.profile %}
                                        <br>
                                        <form method="POST" role="form" class="pull-right"
                                              action="{% url 'reviews:remove' review.review_id %}">
                                            {% csrf_token %}
                                            <button type="submit" value="delete"
                                                    class="btn btn-danger btn-xs">
                                                {% trans 'Remove' %} <span
                                                    class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </form>
                                        <div class="clearfix"></div>
                                    {% endif %}
                                </p>
                            {% empty %}
                                {% trans 'No reviews' %}
                            {% endfor %}
                            <hr/>
                            {% show_pages %}
                            <form method="post" role="form" class="form"
                                  action="{% url 'reviews:create' film.film_id %}">
                                <div class="form-group">
                                    {% csrf_token %}
                                    {{ form.text }}
                                </div>
                                <button type="input" class="btn btn-primary pull-right"
                                        href="{% url 'home' %}">{% trans 'Send review' %}</button>
                            </form>
                        </div>
                    </div>
                {% endwith %}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        {% if film.preference %}
            var not_rated = false;
        {% else %}
            var not_rated = true;
        {% endif %}
        $("#star{{ film.film_id }}").raty({
            score: {{ film.preference|default:"0" }},
            starOff: "{% static 'img/star-off.png' %}",
            starOn: "{% static 'img/star-on.png' %}",
            click: function (score, evt) {
                if (not_rated) {
                    var n_votes = $("#n_votes");
                    n = parseInt(n_votes.text()) + 1;
                    n_votes.text(n);
                    not_rated = false;
                }
                $.ajax({
                    url: "{% url 'films:rate' %}?film={{ film.film_id }}&score=" + score
                });
            }
        });

    </script>

{% endblock %}
