{% extends "page.html" %}
{% load i18n %}

{% block head %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/jquery.raty.min.js"></script>
{% endblock %}

{% block content %}
    <div class="col-xs-12">
        <h1>{{ film.title }}</h1>
        <hr/>
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <img src="{{ MEDIA_URL }}{{ film.get_poster }}" width="300" alt="{{ film.title }}" />
            </div>
            <div class="pull-right">
                <h1>
                    {% if film.score %}
                        {{ film.score|floatformat:1 }}
                    {% else %}
                        {{ film.imdb_rating|floatformat:1 }}
                    {% endif %}
                </h1>

                <div id="star{{ film.film_id }}"></div>
            </div>
            <div class="col-xs-12 col-sm-9">
                <dl class="dl-horizontal">
                    <dt>Id</dt>
                    <dd>{{ film.film_id }}</dd>
                    <dt>IMDB ID</dt>
                    <dd>{{ film.imdb_id }}</dd>
                    <dt>Year</dt>
                    <dd>{{ film.year }}</dd>
                    <dt>Genre</dt>
                    <dd>{{ film.genres.all|join:", " }}</dd>
                    <dt>Runtime</dt>
                    <dd>{{ film.runtime }}</dd>
                    <dt>Rating</dt>
                    <dd>{{ film.rating }}</dd>
                    <dt>Director</dt>
                    <dd>{{ film.directors.all|join:", " }}</dd>
                    <dt>Writer</dt>
                    <dd>{{ film.writers.all|join:", " }}</dd>
                    <dt>Cast</dt>
                    <dd>{{ film.casts.all|join:", " }}</dd>
                    <dt>Country</dt>
                    <dd>{{ film.countries.all|join:", " }}</dd>
                    <dt>Language</dt>
                    <dd>{{ film.languages.all|join:", " }}</dd>
                    <dt>Released</dt>
                    <dd>{{ film.released|date }}</dd>
                    <dt>Plot</dt>
                    <dd class="justify">{{ film.plot }}</dd>
                    <dt>Fullplot</dt>
                    <dd class="justify">{{ film.fullplot }}</dd>
                </dl>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.col-xs-12 -->

    <script type="text/javascript">
        {% if film.preference %}
            var not_rated = false;
        {% else %}
            var not_rated = true;
        {% endif %}
        $("#star{{ film.film_id }}").raty({
            score: {{ film.preference|default:"0" }},
            starOff: '{{ STATIC_URL }}img/star-off.png',
            starOn: '{{ STATIC_URL }}img/star-on.png',
            click: function (score, evt) {
                if (not_rated) {
                    var n_votes = $("#n_votes");
                    n = parseInt(n_votes.text()) + 1;
                    n_votes.text(n);
                    not_rated = false;
                }
                $.ajax({
                    url: "{% url 'films:rate' %}?film={{ film.film_id }}&score=" + score
                });
            }
        });

    </script>

{% endblock %}
